body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.grid {
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.cell {
  display: table-cell;
  border-collapse: collapse;
  box-sizing: border-box;
  border: 1px solid #333;
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition-duration: 0.2s;
}

.cell:hover {
  background-color: #aaa;
}

.cell:checked {
  background-color: #333;
}

.cell:focus {
  outline: none;
}

.controls {
  padding-top: 10px;
  width: 100%;
}

.btn {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.5em;
  color: #eee;
  cursor: pointer;
  transition-duration: 0.3s;
}

.btn:focus {
  outline: none;
}

.btn_default {
  background-color: #555;
  border: 2px solid #555;
}

.btn_default:hover {
  background-color: #fff;
  color: #555;
}

.btn_next {
  background-color: #008cba;
  border: 2px solid #008cba;
}

.btn_next:hover {
  background-color: #fff;
  color: #008cba;
}

.btn_reset {
  background-color: #f44336;
  border: 2px solid #f44336;
}

.btn_reset:hover {
  background-color: #fff;
  color: #f44336
}
